[submodule "lib/printf"]
	path = lib/printf
	url = https://github.com/mpaland/printf
[submodule "lib/noisesculptors-core"]
	path = lib/noisesculptors-core
	url = https://github.com/NoiseSculptors/noisesculptors-core
[submodule "lib/UGUI"]
	path = lib/UGUI
	url = https://github.com/achimdoebler/UGUI
[submodule "lib/tinyusb"]
	path = lib/tinyusb
	url = https://github.com/hathach/tinyusb
[submodule "lib/lwext4"]
	path = lib/lwext4
	url = https://github.com/gkostka/lwext4
[submodule "lib/lwip"]
	path = lib/lwip
	url = git://git.git.savannah.gnu.org/lwip.git
